<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>


<%= content_tag :h1, "TIME OF SUNSET UTC IS: #{@time}" %>
<%= content_tag :h1, "TIME OF SUNSET IS: #{@time.in_time_zone("Eastern Time (US & Canada)")}" %>
<%= "#{Time.now.in_time_zone("Eastern Time (US & Canada)")}" %>