<h1>Reminders</h1>


<br>

<%= link_to "10 Minutes", set_reminder_path(10), class: "waves-effect  indigo accent-4 btn pb_button ", remote: :true, id: '10-reminder' %><br><br>
<%= link_to "20 Minutes", set_reminder_path(10), class: "waves-effect  indigo accent-4 btn pb_button", remote: :true, id: '20-reminder' %><br><br>
<%= link_to "30 Minutes", set_reminder_path(10), class: "waves-effect  indigo accent-4 btn pb_button", remote: :true, id: '30-reminder' %><br><br>

 green darken-1