<h1>Welcome</h1>

<%= image_tag @user.image_url %>

<%= link_to "Push Bullet","https://www.pushbullet.com/authorize?client_id=ILJH5bOPw4bt1tKMnHk8Olc6M6SEL1kt&redirect_uri=http%3A%2F%2Flocalhost%3A3000&response_type=token"%>